<nav class="navbar navbar-expand-lg navbar-dark bg-success ">
    <div class="container-fluid ">
        <a class="navbar-brand " href="# ">
            <img width="150px" src="assets/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item ">
                    <a class="nav-link" aria-current="page " routerLink="/home" routerLinkActive="active">Trang chủ</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink="/employee" routerLinkActive="active">Bảng điều khiển</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="# " routerLinkActive="active">Giới thiệu</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink="/project" routerLinkActive="active">Dự án</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink="user/dangnhap" routerLinkActive="active">Đăng nhập</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink="user/dangky" routerLinkActive="active">Đăng Kí</a>
                </li>
            </ul>
            <form class="d-flex ">
                <input class="form-control me-2 " type="search " placeholder="Tìm kiếm " aria-label="Search ">
                <button class="btn btn-primary " type="submit ">Tìm</button>
            </form>
        </div>
    </div>
</nav>
