<div class="content-right">
    <h5 class="title">Thành viên của team</h5>
    <div class="list-member">
        <p>
            <button class="btn btn-member btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#east" aria-expanded="false" aria-controls="collapseExample">
              East
        </button>
        </p>
        <div class="collapse" id="east">
            <div class="card card-body">
                <ul class="list-group ">
                    <li class="list-group-item active" aria-current="true">#1 Kính</li>
                    <li class="list-group-item">Available</li>
                    <li class="list-group-item active" aria-current="true">#1 Đạt</li>
                    <li class="list-group-item">Available</li>
                    <li class="list-group-item active" aria-current="true">#1 Huy</li>
                    <li class="list-group-item">Busy</li>
                    <li class="list-group-item active" aria-current="true">#1 Nam</li>
                    <li class="list-group-item">Busy</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="list-member">
        <p>
            <button class="btn btn-member btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#west" aria-expanded="false" aria-controls="collapseExample">
            West
      </button>
        </p>
        <div class="collapse" id="west">
            <div class="card card-body">
                <ul class="list-group ">
                    <li class="list-group-item active" aria-current="true">#1 Kính</li>
                    <li class="list-group-item">Available</li>
                    <li class="list-group-item active" aria-current="true">#1 Đạt</li>
                    <li class="list-group-item">Available</li>
                    <li class="list-group-item active" aria-current="true">#1 Huy</li>
                    <li class="list-group-item">Busy</li>
                    <li class="list-group-item active" aria-current="true">#1 Nam</li>
                    <li class="list-group-item">Busy</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="list-member">
        <p>
            <button class="btn btn-member btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#south" aria-expanded="false" aria-controls="collapseExample">
          South
    </button>
        </p>
        <div class="collapse" id="south">
            <div class="card card-body">
                <ul class="list-group ">
                    <li class="list-group-item active" aria-current="true">#1 Kính</li>
                    <li class="list-group-item">Available</li>
                    <li class="list-group-item active" aria-current="true">#1 Đạt</li>
                    <li class="list-group-item">Available</li>
                    <li class="list-group-item active" aria-current="true">#1 Huy</li>
                    <li class="list-group-item">Busy</li>
                    <li class="list-group-item active" aria-current="true">#1 Nam</li>
                    <li class="list-group-item">Busy</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="list-member">
        <p>
            <button class="btn btn-member btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#north" aria-expanded="false" aria-controls="collapseExample">
        North
        </button>
        </p>
        <div class="collapse" id="north">
            <div class="card card-body">
                <ul class="list-group ">
                    <li class="list-group-item active" aria-current="true">#1 Kính</li>
                    <li class="list-group-item">Available</li>
                    <li class="list-group-item active" aria-current="true">#1 Đạt</li>
                    <li class="list-group-item">Available</li>
                    <li class="list-group-item active" aria-current="true">#1 Huy</li>
                    <li class="list-group-item">Busy</li>
                    <li class="list-group-item active" aria-current="true">#1 Nam</li>
                    <li class="list-group-item">Busy</li>
                </ul>
            </div>
        </div>
    </div>
</div>