<div class=" content-left pd-bt mr-bt">
    <div class="content-left-top ">
        <p class="title">Trưởng nhóm</p>
        <img src="/assets/images/content-left/img_avatar.png" alt="">
        <p class="nameGroup">Fpt Polytechnic</p>
    </div>
    <div class="content-left-center">
        <p class="description" align="center">Tóm tắt về team</p>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Số lượng thành viên
                <span class="badge bg-success rounded-pill">67</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Tổng chi phí của tất cả dự án
                <span class="badge bg-success rounded-pill">$ 240k</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Các task đang xử lý
                <span class="badge bg-success rounded-pill">16</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Dự án sắp triển khai
                <span class="badge bg-success rounded-pill">20%</span>
            </li>
        </ul>
    </div>
    <div class="content-left-bottom mr-top">
        <p class="description" align="center">Khách hàng</p>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                ABC Cake Ltd
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                DEF Software
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                GHI Industrie
            </li>
        </ul>
    </div>
</div>
<div class="content-center">

</div>