<div class="content-center">
    <div class="option">
        <div class="contentcenter-option left">
            <select id="project">
          <option value="hide">Dự án</option>
          <option value="project1" rel="icon-temperature">Project1</option>
          <option value="project2">Project2</option>
          <option value="project3">Project3</option>
          <option value="project4">Project4</option>
          <option value="project5">Project5</option>
          <option value="project6">Project6</option>
          <option value="project7">Project7</option>
          <option value="project8">Project8</option>
          <option value="project9">Project9</option>
          <option value="project10">Project10</option>
          <option value="project11">Project11</option>
        </select>
        </div>
        <div class="contentcenter-option right">
            <select id="year">
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021" selected="selected">2021</option>
        </select>
        </div>
    </div>
    <div class="mainCenter">
        <div class="mainCenter-Top">
            <h5 class="title">Tổng thể về dự án</h5>
            <table class="table">
                <tr>
                    <td scope="col">Chi phí dự án</td>
                    <td>$2,165,158.00</td>
                </tr>
                <tr>
                    <td scope="col">Hiện đã chi</td>
                    <td>$96,788.00</td>
                </tr>
                <tr>
                    <td scope="col">Còn lại</td>
                    <td>$2,068,370</td>
                </tr>
            </table>
        </div>
        <div class="mainCenter-Bottom">
            <h5 class="title">Tổng thể về dự án</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Khu vực</th>
                        <th scope="col">Số lượng nhân viên</th>
                        <th scope="col">Nhân viên tạm nghỉ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">East</th>
                        <td>20</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <th scope="row">West</th>
                        <td>30</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <th scope="row">South</th>
                        <td>25</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th scope="row">North</th>
                        <td>25</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>